services:

  web:
    build: .
    ports:
      - "5000:5000"
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - FLASK_APP=main.py
      - FLASK_ENV=development

    command: ["flask", "run", "--host=0.0.0.0"]
    depends_on:
      - db
    networks:
      - app-net
    restart: on-failure
  prometheus:
    image: prom/prometheus:v3.7.3
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - app-net
  grafana:
    image: grafana/grafana-oss:latest
    container_name: grafana
    ports:
      - "3000:3000" # Porta padrão do Grafana   
    networks:
      - app-net

  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}

    
    # Removido o mapeamento 5432:5432 para maior segurança
    # ports: 
    #   - "5432:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data

    networks:
      - app-net

    restart: always

networks:
  app-net:
    driver: bridge


volumes:
  postgres_data: